.title {
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  font-family: monospace; }

.container * {
  font-family: monospace; }

button {
  margin: 1em 0;
  padding: 1em 2em;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  background-color: #333;
  color: #fff; }
  button:hover {
    background-color: #555;
    color: #fff; }

.input-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .input-panel #input-box {
    width: 90%; }

.result-panel table,
#result-list {
  border-collapse: collapse; }
  .result-panel table td,
  #result-list td {
    border: solid 1px #999;
    padding: 0.5em 1em; }
    .result-panel table td.correct,
    #result-list td.correct {
      color: #36f; }
