doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon' href='./icon.jpg' type='image/png')
  title MOF eLearning Crawler
  link(rel='stylesheet' href='./style.css')
body
  .title MOF eLearning Crawler
  .container
    .input-panel
      textarea#input-box(name='input-box' rows='15')
      .button-box
        button#btn-submit.btn-submit Submit
        button#btn-clean.btn-clean Clean
    .result-panel
      table
        tbody#result-list.result-list
  script(src='script.js')